<h1>Listing users</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Password</th>
  </tr>

  <tr>
    <td><%= @user.email %></td>
    <td><%= @user.password %></td>>
  </tr>
</table>
<h2>Rants</h2>
<ul>
  <% @user.rants.each do |rant| %>
    <li><%= link_to rant.title, rant_path(rant) %></li>
  <% end %>
</ul>
<h2>Reponses</h2>
<ul>
  <% @user.responses.each do |response| %>
    <li><%= response.body %></li>
  <% end %>
</ul>