<!DOCTYPE html>
<html>
<head>
  <title>RantOverflow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>

      <div class=""><a href="/">Rant Overflow</a></div>

      <ul>
        <li><a href="/rants">See All Rants</a></li>
        <li><a href="/rants/new">Create a Rant</a></li>
      </ul>

    </nav>

<%= yield %>

</body>
</html>
